body {
  margin: 0;
  line-height: 40px;
  height: 100%;
}

#heading {
  display: flex;
  height: 100px;
  width: auto;
  text-align: center;
  justify-content: center;
  color: red;
  font-size: xx-large;
 border: 10px darkturquoise solid;
 background-image: linear-gradient(to right , pink,darkturquoise,pink,darkturquoise,pink,darkturquoise,pink);
}
#first-icon {
  margin: 35px 18px 18px 18px;
}
#container{
  text-align: center;
}
#input{
  border: 3px solid #aba7a7;
  border-radius: 10px;
  width: 300px;
  height: 20px;
  color: red;
  background-color: #ffffff;
}
#submit{
    font-family: black;
    background-color: #00ff6f;
    border: none;
    margin: 25px 10px 10px 10px;
    font-size: 20px;
    width: 85px;
    height: 30px;
    border-radius: 5px;
    font-style: italic;
    font-weight: 500;
}
#targets{
  display: inline-flex;
  flex-direction: column;
}
#targets #newDiv{
  display: flex;
  flex-direction: row; 
  margin-left: 200px;
  border: 1px solid #aba7a7;
}

#targets #newDiv img{
  height: 250px;
  width: 200px;
  margin: 10px;
}
#targets #newDiv h1{
  color: black;
  font-size: 35px;
  line-height: 30px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  margin-right: 10px;
}
#dropdown-menu{
  display: flex;
  flex-direction: column;
  margin-left: 100px;
  margin-right: 100px;
  background-color: linear-gradient(to bottom, #ffffff,white);
  background-color: linear-gradient(to bottom,#D7E1EC,#FFFFFF  );
}
#newDiv{
  display: flex;
  flex-direction: row;
  text-align: center;
  margin: 10px;
  font-style: italic;
}
#newDiv img{
  height: 100px;
  width: 100px;
}
#newDiv h1{
  color: black;
  font-size: 20px;
  line-height: 30px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 35px;
  margin-left: 10px;
}
#newDiv h2{
  color: black;
  font-size: 20px;
  line-height: 30px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  margin: 10px;
}
#newDiv p{
  color: black;
  font-size: 20px;
  line-height: 30px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  margin: 10px;
}
#newDiv div{
  background-image: linear-gradient(to right,red , deeppink,pink);
}